{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Blog & Tutorials</h1>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Latest Technology Trends</h2>
                    <p class="card-text">Stay updated with our latest articles and tutorials on emerging technologies.</p>
                    <a href="#" class="btn btn-success">Read More</a>
                </div>
            </div>
            <!-- More blog posts would go here -->
        </div>
    </div>
</div>
{% endblock %}
