{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Student Success Stories</h1>
    <div class="row">
        {% for i in "123" %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="text-center mb-3">
                        <i class="fas fa-user-circle fa-4x text-success"></i>
                    </div>
                    <p class="card-text">"The courses at Mojjam Technologies transformed my career. The hands-on approach made all the difference!"</p>
                    <p class="text-muted">- Happy Student</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
